openapi: 3.1.0
info:
  title: Корзина автозапчастей «Spare Parts for Everyone»
  description: |
    API для управления корзинами товаров.
    Все схемы запросов и ответов соответствуют JSON Schema Draft 4.
  version: 1.0.2
servers:
  - url: https://api.spareparts-for-everyone.com/v1  

paths:
  /carts:
    get:
      summary: Получить список корзин пользователя
      description: |
        Возвращает список корзин, принадлежащих авторизованному пользователю.
        Поддерживается пагинация через параметры `limit` и `offset`.
        Нет ограничений на общее количество корзин — клиент управляет объёмом данных.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Максимальное количество корзин в ответе
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Смещение от начала списка (для пагинации)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Список корзин с метаданными пагинации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCartsResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'

  '/carts/{cartId}/items':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
        description: Идентификатор корзины (уникальный, безопасный)
    post:
      summary: Добавить товар в корзину
      description: |
        Добавляет товар в указанную корзину.
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
        Нет ограничения на максимальное количество товара — проверка наличия выполняется на этапе добавления и оформления заказа.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequest'
      responses:
        '201':
          description: Товар добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Недостаточно товара на складе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientStockError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: Корзина заблокирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  '/carts/{cartId}/items/{itemId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9_-]{1,50}$'
    patch:
      summary: Обновить количество товара
      description: |
        Обновляет количество указанной позиции в корзине.
        Если корзина или позиция не существуют, либо корзина не принадлежит пользователю из JWT — возвращается 404 Not Found.
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
      responses:
        '200':
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '412':
          description: ETag не совпадает — данные устарели
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      summary: Удалить товар из корзины
      description: |
        Удаляет указанную позицию из корзины.
        Если корзина или позиция не существуют, либо корзина не принадлежит пользователю из JWT — возвращается 404 Not Found.
      responses:
        '204':
          description: Товар удалён
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  '/carts/{cartId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
        description: Идентификатор корзины (уникальный, безопасный)
    delete:
      summary: Очистить корзину целиком
      description: |
        Удаляет все позиции из корзины (корзина остаётся, но становится пустой).
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
      responses:
        '204':
          description: Корзина очищена
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  '/carts/{cartId}/checkout':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
    post:
      summary: Инициировать оформление заказа
      description: |
        Инициирует асинхронное оформление заказа для указанной корзины.
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      responses:
        '202':
          description: Оформление запущено
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutInitResponse'
        '400':
          description: Корзина пуста или содержит недоступные товары
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnavailableItemsError'
        '401':
          description: Требуется авторизация для оформления заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  '/cart/checkout/{taskId}':
    get:
      security:
        - bearerAuth: []
      summary: Получить статус оформления заказа
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Заказ успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutStatusResponse'
        '202':
          description: Оформление в процессе
        '404':
          description: Задача не найдена или не принадлежит пользователю
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CartItem:
      type: object
      properties:
        id:
          type: string
          description: Уникальный ID позиции в корзине
          example: "item_123"
        sku:
          type: string
          description: Артикул производителя (OEM-номер)
          pattern: '^[A-Z0-9_-]+$'
          example: "SKFOR020994"
        name:
          type: string
          description: Название запчасти
          example: "Фильтр масляный"
        quantity:
          type: integer
          description: Количество единиц товара в корзине
          minimum: 1
          example: 2
        price:
          type: number
          description: Цена одной единицы товара в рублях
          format: float
          minimum: 0
          example: 500.0
        inStock:
          type: boolean
          description: Доступен ли товар на складе для заказа
          example: true
      required: [id, sku, name, quantity, price, inStock]
      additionalProperties: false

    CartResponse:
      type: object
      properties:
        items:
          type: array
          description: Список товаров в корзине
          items:
            $ref: '#/components/schemas/CartItem'
        totalItems:
          type: integer
          description: Общее количество товаров в корзине
          minimum: 0
          example: 2
        totalPrice:
          type: number
          description: Общая стоимость всех товаров в корзине в рублях
          format: float
          minimum: 0
          example: 1000.0
        _links:
          type: array
          description: Список доступных действий с корзиной
          items:
            type: object
            properties:
              method:
                type: string
                enum: [GET, POST, PATCH, DELETE]
              href:
                type: string
                format: uri
            required: [method, href]
            additionalProperties: false
          minItems: 1
          example:
            - method: GET
              href: "/carts/abc123"
            - method: POST
              href: "/carts/abc123/items"
            - method: POST
              href: "/carts/abc123/checkout"
            - method: DELETE
              href: "/carts/abc123"
      required: [items, totalItems, totalPrice, _links]
      additionalProperties: false

    AddItemRequest:
      type: object
      properties:
        sku:
          type: string
          description: Артикул производителя (OEM-номер)
          pattern: '^[A-Z0-9_-]+$'
          example: "BOSCH12345"
        quantity:
          type: integer
          description: Количество товара для добавления в корзину
          minimum: 1
          default: 1
          example: 1
      required: [sku, quantity]
      additionalProperties: false

    UpdateItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          description: Новое абсолютное количество товара в корзине
          minimum: 1
          example: 3
      required: [quantity]
      additionalProperties: false

    AuthError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "unauthorized"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Требуется авторизация для оформления заказа"
      required: [error, message]
      additionalProperties: false

    InsufficientStockError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "insufficient_stock"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Недостаточно товара на складе"
        available:
          type: integer
          description: Доступное количество
          example: 5
      required: [error, message]
      additionalProperties: false

    UnavailableItemsError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "items_unavailable"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Некоторые товары больше не доступны"
      required: [error, message]
      additionalProperties: false

    ConflictError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "cart_locked"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Корзина заблокирована для изменений"
      required: [error, message]
      additionalProperties: false

    NotFoundError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "not_found"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Корзина или позиция не найдена"
      required: [error, message]
      additionalProperties: false

    ValidationError:
      type: object
      properties:
        error:
          type: string
          description: Код ошибки (машинно-читаемый)
          example: "validation_error"
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: "Ошибка валидации данных"
      required: [error, message]
      additionalProperties: false

    PaginatedCartsResponse:
      type: object
      properties:
        items:
          type: array
          description: Список корзин на текущей странице
          items:
            $ref: '#/components/schemas/CartResponse'
        total:
          type: integer
          description: Общее количество корзин у пользователя
          minimum: 0
          example: 35
        limit:
          type: integer
          description: Запрошенное максимальное количество корзин
          example: 20
        offset:
          type: integer
          description: Текущее смещение
          example: 20
      required: [items, total, limit, offset]
      additionalProperties: false

    CheckoutInitResponse:
      type: object
      properties:
        taskId:
          type: string
          description: Идентификатор асинхронной задачи оформления
          example: "task_abc123"
      required: [taskId]
      additionalProperties: false

    CheckoutStatusResponse:
      type: object
      properties:
        orderId:
          type: string
          description: Идентификатор успешно созданного заказа
          example: "order_12345"
      required: [orderId]
      additionalProperties: false