openapi: 3.1.0
info:
  title: Корзина автозапчастей «Spare Parts for Everyone»
  description: |
    API для управления корзинами товаров.
    Все схемы запросов и ответов вынесены в отдельный файл:
    https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json
  version: 1.0.2
servers:
  - url: https://api.spareparts-for-everyone.com/v1

paths:
  /carts:
    get:
      summary: Получить список корзин пользователя
      description: |
        Возвращает список корзин, принадлежащих авторизованному пользователю.
        Поддерживается пагинация через параметры `limit` и `offset`.
        Нет ограничений на общее количество корзин — клиент управляет объёмом данных.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Максимальное количество корзин в ответе
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Смещение от начала списка (для пагинации)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Список корзин с метаданными пагинации
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/PaginatedCartsResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/AuthError'

  '/carts/{cartId}/items':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
        description: Идентификатор корзины (уникальный, безопасный)
    post:
      summary: Добавить товар в корзину
      description: |
        Добавляет товар в указанную корзину.
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
        Нет ограничения на максимальное количество товара — проверка наличия выполняется на этапе добавления и оформления заказа.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/AddItemRequest'
      responses:
        '201':
          description: Товар добавлен
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/CartResponse'
        '400':
          description: Недостаточно товара на складе
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/InsufficientStockError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'
        '409':
          description: Корзина заблокирована
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/ConflictError'

  '/carts/{cartId}/items/{itemId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9_-]{1,50}$'
    patch:
      summary: Обновить количество товара
      description: |
        Обновляет количество указанной позиции в корзине.
        Если корзина или позиция не существуют, либо корзина не принадлежит пользователю из JWT — возвращается 404 Not Found.
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/UpdateItemRequest'
      responses:
        '200':
          description: Успешное обновление
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/CartResponse'
        '412':
          description: ETag не совпадает — данные устарели
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/ConflictError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'

    delete:
      summary: Удалить товар из корзины
      description: |
        Удаляет указанную позицию из корзины.
        Если корзина или позиция не существуют, либо корзина не принадлежит пользователю из JWT — возвращается 404 Not Found.
      responses:
        '204':
          description: Товар удалён
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'

  '/carts/{cartId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
        description: Идентификатор корзины (уникальный, безопасный)
    delete:
      summary: Очистить корзину целиком
      description: |
        Удаляет все позиции из корзины (корзина остаётся, но становится пустой).
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
      responses:
        '204':
          description: Корзина очищена
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'

  '/carts/{cartId}/checkout':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
    post:
      summary: Инициировать оформление заказа
      description: |
        Инициирует асинхронное оформление заказа для указанной корзины.
        Если корзина не существует или не принадлежит пользователю из JWT — возвращается 404 Not Found.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      responses:
        '202':
          description: Оформление запущено
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/CheckoutInitResponse'
        '400':
          description: Корзина пуста или содержит недоступные товары
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/UnavailableItemsError'
        '401':
          description: Требуется авторизация для оформления заказа
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/AuthError'
        '404':
          description: Корзина не найдена или недоступна
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'

  '/cart/checkout/{taskId}':
    get:
      security:
        - bearerAuth: []
      summary: Получить статус оформления заказа
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Заказ успешно создан
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/CheckoutStatusResponse'
        '202':
          description: Оформление в процессе
        '404':
          description: Задача не найдена или не принадлежит пользователю
          content:
            application/json:
              schema:
                $ref: 'https://raw.githubusercontent.com/a-dobritsa/spareparts_for_everyone/main/schemas/schema.json#/properties/NotFoundError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT