openapi: 3.0.3
info:
  title: Корзина автозапчастей «Spare Parts for Everyone»
  description: |
    API для управления корзинами товаров. Поддерживает анонимные и авторизованные корзины,
    HATEOAS в формате HAL, идемпотентные операции и асинхронное оформление заказа.
  version: 1.0.0
servers:
  - url: https://api.spareparts-for-everyone.com/v1
    description: Production server

paths:
  /carts:
    get:
      summary: Получить список корзин пользователя
      description: |
        Возвращает все корзины, принадлежащие авторизованному пользователю.
        Требует JWT-токен.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список корзин
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      carts:
                        type: array
                        items:
                          $ref: '#/components/schemas/CartResponse'
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            format: uri
                        required: [href]
                required: [_embedded, _links]
                additionalProperties: false
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'

    post:
      summary: Создать новую корзину
      description: |
        Создаёт новую корзину.
        - Если предоставлен JWT — корзина привязывается к аккаунту.
        - Если JWT отсутствует — создаётся анонимная корзина.
        Возвращает cartId в заголовке Location.
      responses:
        '201':
          description: Корзина создана
          headers:
            Location:
              description: URL новой корзины
              schema:
                type: string
                format: uri
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  '/carts/{cartId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
        description: Идентификатор корзины (уникальный, безопасный)
    get:
      summary: Получить корзину по ID
      description: |
        Возвращает корзину по cartId.
        Доступно как для анонимных, так и для авторизованных пользователей.
        Если корзина не существует — 404.
      responses:
        '200':
          description: Корзина найдена
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '404':
          description: Корзина не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      summary: Очистить корзину целиком
      description: Удаляет все позиции из корзины (не удаляет саму корзину).
      parameters:
        - name: If-Match
          in: header
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Корзина очищена
        '409':
          description: Корзина заблокирована (оформляется)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        '412':
          description: ETag не совпадает
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  '/carts/{cartId}/items':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
    post:
      summary: Добавить товар в корзину
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequest'
      responses:
        '201':
          description: Товар добавлен
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Недостаточно товара на складе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientStockError'
        '404':
          description: Корзина не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: Корзина заблокирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  '/carts/{cartId}/items/{itemId}':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9_-]{1,50}$'
    patch:
      summary: Обновить количество товара
      description: |
        Обновляет количество указанной позиции в корзине.
        Требует актуальный ETag через заголовок If-Match для предотвращения конфликтов.
        Доступно без авторизации, если известен cartId.
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
      responses:
        '200':
          description: Успешное обновление
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '412':
          description: ETag не совпадает — данные устарели
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        '404':
          description: Корзина или позиция не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      summary: Удалить товар из корзины
      description: Удаляет позицию из корзины по itemId. Доступно без авторизации.
      responses:
        '204':
          description: Товар удалён
        '404':
          description: Корзина или позиция не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  '/carts/{cartId}/checkout':
    parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
    post:
      summary: Инициировать оформление заказа
      description: |
        Запускает асинхронное оформление заказа.
        Если пользователь не авторизован — возвращается 401, чтобы запросить логин.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[a-zA-Z0-9_-]+$'
      responses:
        '202':
          description: Оформление запущено
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                type: object
                properties:
                  taskId:
                    type: string
                required: [taskId]
                additionalProperties: false
        '400':
          description: Корзина пуста или содержит недоступные товары
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnavailableItemsError'
        '401':
          description: Требуется авторизация для оформления заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Корзина не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  '/cart/checkout/{taskId}':
    get:
      summary: Получить статус оформления заказа
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Заказ успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                required: [orderId]
                additionalProperties: false
        '202':
          description: Оформление в процессе
        '404':
          description: Задача не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CartItem:
      type: object
      properties:
        id:
          type: string
          description: Уникальный ID позиции в корзине
          example: "item_123"
        sku:
          type: string
          description: Артикул производителя (OEM-номер)
          pattern: '^[A-Z0-9_-]+$'
          example: "SKFOR020994"
        name:
          type: string
          description: Название запчасти
          example: "Фильтр масляный"
        quantity:
          type: integer
          minimum: 1
          maximum: 99
          example: 2
        price:
          type: number
          format: float
          minimum: 0
          example: 500.0
        inStock:
          type: boolean
          example: true
      required: [id, sku, name, quantity, price, inStock]
      additionalProperties: false

    CartResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        totalItems:
          type: integer
          minimum: 0
          example: 2
        totalPrice:
          type: number
          format: float
          minimum: 0
          example: 1000.0
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  format: uri
              required: [href]
          required: [self]
          additionalProperties: false
      required: [items, totalItems, totalPrice, _links]
      additionalProperties: false

    AddItemRequest:
      type: object
      properties:
        sku:
          type: string
          pattern: '^[A-Z0-9_-]+$'
          example: "BOSCH12345"
        quantity:
          type: integer
          minimum: 1
          maximum: 99
          default: 1
          example: 1
      required: [sku, quantity]
      additionalProperties: false

    UpdateItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          minimum: 1
          maximum: 99
          example: 3
      required: [quantity]
      additionalProperties: false

    AuthError:
      type: object
      properties:
        error:
          type: string
          example: "unauthorized"
        message:
          type: string
          example: "Требуется авторизация для оформления заказа"
      required: [error, message]
      additionalProperties: false

    InsufficientStockError:
      type: object
      properties:
        error:
          type: string
          example: "insufficient_stock"
        message:
          type: string
          example: "Недостаточно товара на складе"
        available:
          type: integer
          description: Доступное количество
          example: 5
      required: [error, message]
      additionalProperties: false

    UnavailableItemsError:
      type: object
      properties:
        error:
          type: string
          example: "items_unavailable"
        message:
          type: string
          example: "Некоторые товары больше не доступны"
      required: [error, message]
      additionalProperties: false

    ConflictError:
      type: object
      properties:
        error:
          type: string
          example: "cart_locked"
        message:
          type: string
          example: "Корзина заблокирована для изменений"
      required: [error, message]
      additionalProperties: false

    NotFoundError:
      type: object
      properties:
        error:
          type: string
          example: "not_found"
        message:
          type: string
          example: "Корзина или позиция не найдена"
      required: [error, message]
      additionalProperties: false

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: "validation_error"
        message:
          type: string
          example: "Ошибка валидации данных"
      required: [error, message]
      additionalProperties: false